@font-face {
  font-family: 'Anton';
  src: url(police/Anton-Regular.ttf);
}


.logo{
  background-image: url("img/voiture.png");
  background-size: cover;
  height:15vh;
}

.logo-image {
  max-width: 100%;
  height: auto;
  height:15vh;

}

.tout{
  border-top:0.5vh solid black;
  border-left:0.5vh solid black;
  border-right:0.5vh solid black;
}

p.navi{
  font-family: 'Anton', sans-serif;
  vertical-align: center;

  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

img{height:15vh;}


.navbar-brand{font-family : 'Gros';}

.nav-item{margin-top: 1.3vh;}



p.navi:hover {
  color: white;
}

.nav-item.active .nav-link {
  color: white !important;
}
