@font-face {
  font-family: 'Anton';
  src: url(../police/Anton-Regular.ttf);
}

@font-face {
  font-family: 'Russo';
  src: url(../police/RussoOne-Regular.ttf);
}

@font-face {
  font-family : 'Gros';
  src: url(../police/BlackOpsOne-Regular.ttf);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
margin:0;
padding:0;
overflow-x: hidden;
}

body{
overflow-x: hidden;
}

.principale1{
height:60vh;

}

.flex{
display:flex;
flex-direction:column;
}

.garage1{
width:100vw;
height:auto;
padding:30px;
}

h1{
  font-family: 'Gros', sans-serif;

  text-align: center;
  color:white;


  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;


}


.serv{

background-image: url("../img/background6.png");
background-size: cover;
border-left:0.5vh solid black;
border-right:0.5vh solid black;
}

.reg{
display:flex;
flex-direction: row;
justify-content: space-between;
margin:10px;

}

.formvoit{

display:flex;
flex-direction: row;


}

.uno{
margin:50px;
padding:10px;
width:100%;
}

.pair{
padding:10px;
background-color: black;

}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}


.carousel-control-prev {
background-color: black;
}


.carousel-control-next {
background-color: black;
}



.filtr{

margin-top:-45px;
}

#filtrage{
width:100vw;
}

.co, .adminstyle, .employestyle, .conta, .av, .ok, .det{
background-image: url("../img/background4.jpg");
background-size: cover;
border:0.5vh solid black;
text-align: center;
}

.co, .av{
height:63vh;
}

.vtur{
background-image: url("../img/background4.jpg");
background-size: cover;
border:0.5vh solid black;
}


.ok{
text-align: center;
}

#titre{
background-image: url("../img/pri.jpg");
background-size: cover;
border:0.5vh solid black;
}

#avis{
background-image: url("../img/background4.jpg");
background-size: cover;
border:0.5vh solid black;

}


h2{
  font-family: 'Gros', sans-serif;
  color:red;

  text-align: center;

  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;

}

#details{
text-align:center;
}

.hor{
background-image: url("../img/backhor.jpg");
background-size: cover;
border-bottom:0.5vh solid black;
border-left:0.5vh solid black;
border-right:0.5vh solid black;
}


input{  border-radius: 10px;  
}


button{ border-radius: 10px;
      color:black;
}



input.forcont{
width:30vh;
}


#nomcontact, #prénomcontact, #emailcontact, #phonecontact, #titrecontact, #commentairecontact {
text-align: center;
}

#comments{
margin-top:50px;
padding:20px;
}

input.forcontbout{

width:15vh;
}


#submitcont{
text-align:center;
}


textarea.forcont{
width:45vh;
height:15vh;
resize:none;
}


p.indexx, p.index, p.formvoit, p.fcont, p.com, h3, p.pok, p{

font-family: 'Anton', sans-serif;
color:antiquewhite;

-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: black;
text-align: center;
justify-content: center;
margin-top:5px;
}



p.galerie{

font-family: 'Anton', sans-serif;
color:antiquewhite;

-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: black;
text-align: start;

}

p.formtur, p.tur{

font-family: 'Anton', sans-serif;
color:antiquewhite;

-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: black;

text-align: left;

}




#nomcontact, #prénomcontact, #emailcontact, #phonecontact, #titrecontact, #commentairecontact{

          margin-bottom:2vh;}

            
.scont{
              margin-left: 5vh;
              margin-bottom:2vh;}





input[type=submit]:hover{text-decoration: underline;}



.card{
    margin-left: 10vw;
  margin-bottom:4vh;}

#voiturees {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.left {
  max-width: 50%;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left img:first-child {
  max-width: 50%;
  height:auto;
  margin-bottom: 20px;
  display:flex;
  flex-wrap:wrap;

}

.detdet{
background-color: #333;
border-radius: 10px;
}

.right {
  width: 50%;
}

.bottom {
  width: 100%;
  display:inline;
}

#flexpetit{
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;

}

.petitesimg{

justify-content: center;
gap:1vh;



}




.aa{
width:30vh;
}

.cc{
width:55vh;
}

h5{
text-align: center;
}


#messagess{
resize:none;
width:40vh;
height:10vh;


}

input.bb{

margin-top: 8vh;
margin-left:3vh;
width:20vh;
font-family: 'Anton', sans-serif;
color:black;
}

#ligne1{
display:flex;
flex-direction:row;
flex-wrap: wrap;
gap:3vh;

}

#ligne2{
display:flex;
flex-direction:row;
flex-wrap: wrap;
gap:3vh;
}

input.dd{

margin-left:3vh;
width:20vh;
font-family: 'Anton', sans-serif;
color:black;
}


input.ddg{

margin-left:3vh;
width:40vh;
font-family: 'Anton', sans-serif;
color:black;
}





.areaemploye{

width:45vh;
height:15vh;
resize:none;
align-self: center;
vertical-align: center;
}












input[type=range]{
width:15vh;

}


.accordeon {
background-color: #616161;
color: #444;
cursor: pointer;
width: 100%;
border: none;
text-align: center;
outline: none;
transition: 0.4s;
height:15vw;
position:relative;
margin-top:-2px;
margin-bottom:-2px;
}



.logoclick{
height:30px;
width:auto;
position: absolute;
top:15px;
right:30vw;
}



h2.cach2{
display:none;
}




.service-item{
display:flex;
flex-direction: row;
margin:10px;
padding:10px;
border:1px solid black;
border-radius: 10px;
justify-content: space-around;
}

.service-txt{
display:flex;
flex-direction:column;
align-items:center;
text-align: center;
margin:10px;

}

.containerserv {
display: grid;
grid-template-columns: repeat(1, 1fr); 
grid-gap: 10px; 

}

.imgserv{
width:10vh;
border-radius: 5px;
}


/* NAV */

nav{
width:100vw;
}


.logo{
background-image: url("img/voiture.png");
background-size: cover;
height:15vh;
}

.logo-image {
max-width: 100%;
height: auto;
height:15vh;

}

.imgS{
height:30vh;
width:auto;
}

.containerCars{
display: grid;
grid-template-columns: repeat(1, 1fr); 
grid-gap: 10px; 

}

.tout{
border-top:0.5vh solid black;
border-left:0.5vh solid black;
border-right:0.5vh solid black;
margin:25px;
}

p.navi{
font-family: 'Anton', sans-serif;
vertical-align: center;

-webkit-text-stroke-width: 0.2px;
-webkit-text-stroke-color: black;
}


.navbar-brand{font-family : 'Gros';}

.nav-item{  font-family: 'Russo', sans-serif;}



h1.nav{
font-size: medium;

}

p.navi:hover {
color: white;
}

.nav-item.active .nav-link {
color: white !important;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="password"] {

background-color: #f8f8f8;
color: #333;


}


input[type="text"]:focus, input[type="date"]:focus, input[type="number"]:focus,
input[type="password"]:focus {
  background-color:rgb(187, 187, 187);
  padding-left:7px;
}

/* ///////////////////////DUAL RANGE*/




input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
pointer-events: all;
width: 24px;
height: 24px;
background-color: #fff;
border-radius: 50%;
box-shadow: 0 0 0 1px #C6C6C6;
cursor: pointer;
}

input[type=range]::-moz-range-thumb {

pointer-events: all;
width: 24px;
height: 24px;
background-color: #fff;
border-radius: 50%;
box-shadow: 0 0 0 1px #C6C6C6;
cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
-webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
color: #8a8383;
width: 100px;
height: 30px;
font-size: 20px;
border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
 opacity: 1;
}

input[type="range"] {
-webkit-appearance: none; 
appearance: none;
height: 2px;
width: 63vw;
position: absolute;
background-color: #C6C6C6;
pointer-events: none;

}


/* footer */
footer {
text-align: center;

background-color: #abbaba;
color: #000;
}

.card{
height:500px;
width:auto;
}

@media screen and (min-width:380px){

.card{
margin-left: 11.5vw;
margin-bottom:4vh;}


}


@media screen and (min-width:390px){

.card{
  margin-left: 13.5vw;
margin-bottom:4vh;}


}

@media screen and (min-width:450px){

  .card{
    margin-left: 22vw;
  margin-bottom:4vh;}
  

  .logoclick{

    top:22px;
    right:30vw;

  }



  
  }




@media screen and (min-width:700px){


.card{
  margin-left: 10px;
margin-bottom:10px;}


.logoclick{

  top:25px;
  right:38vw;

}


.cc{
  width:60vh;
}



.cach2{
  display:block;
}

.accordion{display:none;}


.accordeon{
margin-top:-5px;
margin-bottom:-7px;
height:8vh;

}


.co{
height:64.5vh;
}



.containerserv {

grid-template-columns: repeat(2, 1fr); 


}


.containCars{
display: grid;
grid-template-columns: repeat(2, 1fr); 
grid-gap: 10px; 

}




} 


#voiturees {
display: grid;
grid-template-columns: repeat(2, 1fr); 
grid-gap: 10px; 

}


input[type="range"] {

height: 3px;
width: 75vw;


}


@media screen and (min-width:800px){

.logoclick{

  top:30px;


}



}


@media screen and (min-width:900px){

.logoclick{

  top:35px;


}


}



@media screen and (min-width:1000px){

.logoclick{

  top:38px;


}

.accordeon{
  height:90px;

}


.containCars{


  grid-template-columns: repeat(3, 1fr); 


}
}


@media screen and (min-width: 1551px){



input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 93vw;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;

}


input[type="number"] {
color: #8a8383;
width: 200px;
height: 30px;
font-size: 20px;
border: none;
}





.containerserv {

grid-template-columns: repeat(3, 1fr); 


}

.containerCars{

grid-template-columns: repeat(3, 1fr); 


}
.containCars{


grid-template-columns: repeat(5, 1fr); 


}

#voiturees {

grid-template-columns: repeat(4, 1fr); 
grid-gap: 10px; 

}

.accordeon{

height:10vh;

}

.logoclick{

top:30px;
right: 42vw;


}

.co{
height:52vh;
}
}











